[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg = {extras = ["binary"], version = "*"}
boto3 = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
