{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'page/style.css' %}">
  <title>{% block title %}sbts{% endblock %}</title>
</head>
<body>
  <a href="{% url 'top' %}">トップ</a>
  <a href="{% url 'file' %}">ファイル</a>
  <a href="{% url 'ticket' %}">チケット</a>

  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}">ログアウト</a>
  {% else %}
  <a href="{% url 'login' %}">ログイン</a>
  {% endif %}{% block content %}
{% endblock %}</body>
</html>
