{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'page/style.css' %}">
  <title>{% block title %}sbts{% endblock %}</title>
</head>
<body>
<header>
  <nav class="header-nav">
    <span class="header-top"><a href="{% url 'top' %}" ><strong>sbts</strong></a></span>

    <ul class="header-navlist">
      <li class="header-navitem header-navtab{% if selected_tab == 'ticket' %} header-navtab-selected{% endif %}"><a href="{% url 'ticket' %}">チケット</a></li>
      <li class="header-navitem header-navtab{% if selected_tab == 'file' %} header-navtab-selected{% endif %}"><a href="{% url 'file' %}">ファイル</a></li>
    </ul>

    <span class="header-navitem header-authn">
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">ログアウト</a>
      {% else %}
      <a href="{% url 'login' %}">ログイン</a>
      {% endif %}
    </span>
  </nav>
</header>
<hr>
<main>{% block content %}
{% endblock %}  </main>
</body>
</html>
