{% extends 'page/base.html' %}
{% load static %}

{% block content %}
  <div class="file-list">
    <div class="file-list-header file-list-name"><strong>名前</strong></div>
    <div class="file-list-header file-list-lastmod"><strong>最終更新</strong></div>
    <div class="file-list-header file-list-size"><strong>大きさ</strong></div>
    {% for file in file_list %}
    <div class="file-item file-list-name"><a href="{% url 'file:blob' file.key %}">{{ file.name }}</a></div>
    <div class="file-item file-list-lastmod">{{ file.lastmod }}</div>
    <div class="file-item file-list-size">{{ file.size }}</div>
    {% endfor %}
  </div>

  <form action="{% url 'create_file' %}" method="post" id="uploadform">
    {% csrf_token %}
    <input type="hidden" name="blobkey">
    <input type="hidden" name="filename">
    <fieldset>
      <legend>ファイル</legend>
      <input type="file" id="file">{# これはフォームで送信されない #}
    </fieldset>
    <input type="submit" value="upload">
  </form>

  {{ constant_map|json_script:"file-data" }}
  <script src="{% static 'page/file.js' %}"></script>
{% endblock %}
