{% extends 'page/base.html' %}
{% load static %}

{% block title %}ログイン - sbts{% endblock %}

{% block content %}
  {% if form.errors %}
  <p>パスワードが正しくありません。再度お試しください。</p>
  {% endif %}

  <form method="post" action="{% url 'page:login_page' %}" class="widget-group login-form">
    {% csrf_token %}

    <div class="login-group">
      <div class="login-label">ユーザーID</div>
      <div class="login-input">{{ form.username }}</div>
      <div class="login-label">パスワード</div>
      <div class="login-input">{{ form.password }}</div>
      <div class="login-enter enter-button"><input type="submit" value="ログイン"></div>
    </div>
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
  </form>
{% endblock %}
