{% extends 'page/base.html' %}
{% load static %}

{% block content %}
  <div>
    <div><strong>title, lastmod, key</strong></div>
    {% for ticket in ticket_list %}
    <div>{{ ticket.title }}, {{ ticket.lastmod }}, <a href="{% url 'ticket_detail' ticket.key %}">link</a></div>
    {% endfor %}
  </div>

  <form action="{% url 'create_ticket' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>チケットタイトル</legend>
      <input type="text" name="title" size="80">
    </fieldset>
    <input type="submit" value="create">
  </form>
{% endblock %}
