{% extends 'page/base.html' %}
{% load static %}

{% block content %}
  <div class="widget-group">
    {% if comment_list %}
    {% for comment in comment_list %}
    <div id="comment-{{ comment.key }}" class="ticket-detail-item">
      <div class="ticket-detail-item-extra">{{ comment.created }}</div>
      <div class="ticket-detail-comment">{{ comment.comment|linebreaksbr }}</div>
    </div>
    {% endfor %}
    {% else %}
    <p>コメントはまだありません。</p>
    {% endif %}
  </div>

  <form action="{% url 'create_comment' ticket.key %}" method="post" class="widget-group">
    {% csrf_token %}
    <textarea rows="8" name="comment"></textarea>
    <div class="enter-button"><input type="submit" value="コメント"></div>
  </form>
{% endblock %}
