{% extends 'page/base.html' %}
{% load static %}

{% block content %}
  <div class="widget-group">
    {% if comment_list %}
    {% for comment in comment_list %}
    <div id="comment-{{ comment.key }}" class="ticket-comment-box">
      <div class="ticket-extra ticket-comment-extra">{{ comment.created }}</div>
      <div class="ticket-comment">{{ comment.comment|linebreaksbr }}</div>
    </div>
    {% endfor %}
    {% else %}
    <div>コメントはまだありません。</div>
    {% endif %}
  </div>

  <form action="{% url 'create_comment' ticket.key %}" method="post" class="widget-group">
    {% csrf_token %}
    <div><textarea rows="8" name="comment" class="ticket-comment-input"></textarea></div>
    <div><input type="submit" class="enter-button" value="コメント"></div>
  </form>
{% endblock %}
