{% extends 'page/base.html' %}
{% load static %}

{% block title %}チケット - sbts{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <form action="{% url 'create_ticket' %}" method="post" class="widget-group">
    {% csrf_token %}
    <input type="text" name="title" size="80">
    <span class="enter-button ticket-new"><input type="submit" value="チケットを作成"></span>
  </form>
  {% endif %}

  <div class="widget-group">
    {% for ticket in ticket_list %}
    <div class="ticket-item">
      <div><a href="{% url 'ticket_detail' ticket.key %}">{{ ticket.title }}</a></div>
      <div class="ticket-item-extra">{{ ticket.lastmod }}更新</div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
